localhost {
	@tsidp {
		# This matcher allows you to select specific paths for Tsidp to handle.
		# If you want to handle all paths, remove this block and use `tsidp {...}` instead!
		path / # don't let AI scrapers browse the file index
		path /.within.website/* # required for tsidp to work

		not path /api/* # exclude api routes from tsidp
	}

	log http.handlers.tsidp {
		level DEBUG
	}

	tsidp @tsidp {
	}

	file_server browse
}
